PORT=3000
NODE_ENV=development

FRONTEND_URLS=http://localhost:5173

RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx

MAIL_FROM=Stellenbosch Conseil <contact@stellenboschconseil.com>
MAIL_TO=eporte@stellenboschconseil.com